<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dashboard Suite" parallel="methods" thread-count="20" data-provider-thread-count="20">
    <test name="TestNgDashboardTest">
        <classes>
            <class name="com.nina.rest.testsuite.testng.DashboardTestNgSuite"/>
        </classes>
    </test>
</suite>
